* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* body {
    padding-top: 80px;
} */

/* ----------Header Section---------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #111;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navbar color change on scroll */
.navbar.scrolled { 
    background-color: #111;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #383838;
    color: #00adb5;
    padding: 8px;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

    /* -----Make the Header Mobile Responsive----- */

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #111;
        width: 200px;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links a:hover {
    background-color: #383838;
    color: #00adb5;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}


/*----------Home Section----------*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 180px 10% 100px;
    min-height: 100vh;
    background-color: #0f172a;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #00adb5;
}

.hero h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero p {
    line-height: 1.6;
    margin-bottom: 30px;
    color: #ccc;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #00adb5;
    color: white;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #008b91;
}
.btn-outline {
    text-decoration: none;
    border: 2px solid #00adb5;
    padding: 12px 25px;
    color: #00adb5;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: #00adb5;
    color: white;
}

.hero-image img {
    width: 350px;
    height: 345px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00f5ff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.hero-image img:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}


/* -----Make the Hero Section Mobile Responsive----- */

@media(max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-image img {
        width: 250px;
        height: 240px;
        margin-top: 40px;
    }
}


/*----------Home Section----------*/

.about {
    padding: 100px 10%;
    background-color: #111827;
    color: white;
    min-height: 90vh;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
    color: #00adb5;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-image img {
    width: 400px;
    border-radius: 10px;
}

.about-content {
    max-width: 600px;
}

.about-content h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-content p {
    line-height: 1.7;
    margin-bottom: 25px;
    color: #ccc;
}

.about-info {
    padding-bottom: 20px;
}

.about-info div {
    margin-bottom: 10px;
}

/* -----Make the Hero Section Mobile Responsive----- */

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 220px;
    }
}

/* Slide in From Left + Right in About Section */

.about-image {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.8s ease;
}

.about-content {
    transform: translateX(80px);
    opacity: 0;
    transition: all 0.8s ease;
}

.about.show .about-image,
.about.show .about-content {
    transform: translateX(0);
    opacity: 1;
}