* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
}

/* ----------Header Section---------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #111;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navbar color change on scroll */
.navbar.scrolled { 
    background-color: #111;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #383838;
    color: #00adb5;
    padding: 8px;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

    /* -----Make the Header Mobile Responsive----- */

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #111;
        width: 200px;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links a:hover {
    background-color: #383838;
    color: #00adb5;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}